{% extends 'base.html'%}            
{% load static %}
{% block content%}  

<h1>THIS IS OUR ABOUT PAGE</h1>
<!-- About Start -->
            <div class="about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-6">
                            <div class="about-img">
                                <img src="{% static 'img/about.jpg' %}" alt="Image">
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="about-text">
                                <h2><span>7</span> Years Experience</h2>
                                <p>
                                    THIS HAS BEEN 7 YEARS OF GODS GLORY WORKING AND ALSO GROWING FROM ONE LEVEL TO ANOTHER WITHOUT STOPPING.
                                </p>
                                <p>
                                    THIS COMPANY WAS FOUNDED BY MR JOSH DUNN WITH HIS HUMBLE WIFE AND OUR TEAM MANAGER MRS OKAFOR DUN AND THE COMPANY HAS BEEN ABLE TO EMPLOY SO MANY WORKERS <br>
                                    NOW WE ALSO HAVE ANOTHER BRANCH OUSIDE THIS STATE, AND WE MAKE SURE NNO MATTER THE LOCATION AROUND THE STATE WE DELIVER ACCORDING TO OUR HIGH STANDARD OF NEATNESS<br>
                                    ACCORDING TO THE BIBLE CLEANINESS IS NEXT TO GODLINESS SO WE HAVE BEEN ON THAT MOVE EVER SINCE THE FIRST DAY OF THIS COMPANY.                            
                                </p>
                                <h4>HISTORY OF THIS COMPANY</h4>
                                <p> 
                                    SO THIS COMPANY WAS ACTUALLY STARTED WHEN OUR MOST RRELIABLE CEO WAS IN UNIVERSITY MAKING SURE HE USED THIS TO START LIFE AND IT WAS FROM THIS HE FINISHED SCHOOL AND OFFICALLY STARTED ON THE 15 AUGUST 2017 WHEN HE OFFICALLY FINISHED SCHOOL, <br>
                                    THIS COMPANY STARTED IN A STORE AND NOW WE HAVE OUR OFFICE AND WE ALSO HAVE 4 BRANCHES AROUND THIS STATE. <br>
                                    THIS COMPANY HAS BUILT A HOME FOR SO MANY WHO JOINS THIS FAMILY GOING OUT CLEANING PREMISES OF OTHERS MAKING SURE WE DON'T HAVE ANY BAD RATING OR BAD REPUTATION
                                </p>
                                <h4>GOAL OF THIS COMPANY </h4>
                                <p>
                                    THIS COMPANY HAS SO MANY GOALS, TO FIRST OF ALL MAKE SURE WE GIVE ALL OUR CLIENTS THE MAXIMUM BEST QUALITY FROM THE SCRATCH<br>
                                    THEN OUR COMPANY ALSO HAS A GOAL OF INCREASING OUR PATNERSHIP AND INCREASING ALSO TO NOT ONLY AS A LOWKEY COMPANY BUT NOW WE ARE WORKING TOWARDS BECOMING A MORE NATIONAL CLEANING CONTRACTORS BEFORE GOING WORLD-CLASS, MAKING A GOOD IMPRESSION ALL OVER THE WORLD<br>
                                </p>
                                <h4>MEET OUR BOARD MEMBERS</h4>
                                      <div class="team">
                <div class="container">
                    <div class="section-header">
                        <p>Team Member</p>
                        <h2>Meet Our Expert Cleaners</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="{% static 'img/team-1.jpg' %}" alt="Team Image">
                                </div>
                                <div class="team-text">
                                    <h2> MR Josh Dunn</h2>
                                    <h3>CEO</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="{% static 'img/team-2.jpg' %}" alt="Team Image">
                                </div>
                                <div class="team-text">
                                    <h2> MRS OKAFOR DUN</h2>
                                    <h3>Team Manager</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="{% static 'img/team-3.jpg' %}" alt="Team Image">
                                </div>
                                <div class="team-text">
                                    <h2>omo ayehola</h2>
                                    <h3> HEAD CLEANER</h3>
                                
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="{% static 'img/team-4.jpg' %}" alt="Team Image">
                                </div>
                                <div class="team-text">
                                    <h2>akinbile adebajo</h2>
                                    <h3>OFFICE MANAGER</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team End -->          
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock content %}