{% extends 'base.html' %}
{% load static  %}
{% block content  %}

 <!-- Blog Start -->
            <div class="blog">
                <div class="container">
                    <div class="section-header">
                        <p>Latest From Blog</p>
                        <h2>Stay Updated From Our Blog</h2>
                    </div>
                    <div class="row">
                        {% for s in project %}
                        <div class="col-lg-4 col-md-6">
                            <div class="blog-item">
                                <img src="{{ s.image.url }}" alt="Blog">
                                <h3>{{ s.title }}</h3>
                                <div class="meta">
                                    <p>{{ s.name }}</p>
                                </div>
                                <p>
                                    {{ s.blog }}
                                </p>
                                <a class="btn" href="">Learn More</a>
                            </div>
                        </div>
                        {% endfor s in project %}
                    </div>
                </div>
            </div>
            <!-- Blog End -->

{% endblock content  %}