{% extends 'base.html' %}
{% load static %}
{% block content %}

 <!-- Feature Start -->
            <div class="feature">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="section-header left">
                                <p>Why Choose Us</p>
                                <h2>Expert Cleaners and World Class Services</h2>
                            </div>
                            <p>
                               THIS IS THE BEST ANSWER FOR THE QUESTION 'WHY CHOOSE US' THE ANSWER IS IN OUR PROFESSIONALISM <br>
                               THE WAY WE HANDLE OUR BUSINESS EVEN WITHOUT SUPERVISION EVERY EMPLOYEE OF THEIS COMPANY IS A WOLRD CLASS CLEANER <br> 
                               THAT HAS A WEIRD SOUND BT THAT IS THE HONEST TRUTH OF THIS MATTER AND THEY ARE PROPERLY TRAINED IN BOTH THEIR WORK AND BEHAVIOUR
                            </p>
                        </div>
                        <div class="col-md-7">
                            <div class="row align-items-center feature-item">
                                <div class="col-5">
                                    <img src="{% static 'img/feature-1.jpg' %}" alt="Feature">
                                </div>
                                <div class="col-7">
                                    <h3>Expert Cleaners</h3>
                                    <p>
                                       ALL OUR WORKERS ARE THE MOST TRAINED IN THEIR SPECIFIC AREA THAT'S SUPRISSING RIGHT?<br> 
                                       YES THEY All UNDERGO PROBATION BEFORE WE RELEASE THEM OUT FOR DIFFERENT WORK. 
                                    </p>
                                </div>
                            </div>
                            <div class="row align-items-center feature-item">
                                <div class="col-5">
                                    <img src="{% static 'img/feature-2.jpg' %}" alt="Feature">
                                </div>
                                <div class="col-7">
                                    <h3>Reasonable Prices</h3>
                                    <p>
                                        OUR PRICES ARE GOD MOST REASONABLE PRICES NO ADDITION, NON SUBTRACTION IN ANYWAY.<br>
                                        EVERY SERVICE HAS THEIR QUALITY AND MEASURED WORK THAT MAKES EVRY SERVICE PRICE TO HAVE DIFFERENT PRICES.
                                    </p>
                                </div>
                            </div>
                            <div class="row align-items-center feature-item">
                                <div class="col-5">
                                    <img src="{% static 'img/feature-3.jpg' %}" alt="Feature">
                                </div>
                                <div class="col-7">
                                    <h3>Quick & Best Services</h3>
                                    <p>
                                        OUR SERVICES ARE VERY DIRECT, OUR DIFFERENT SERVICES ARE APARTMENT CLEANING, OFFICE CLEANING, TOILET CLEANING, COMPOUND CLEANING, GLASS CLEANING, CARPET CLEANING<br>
                                        WE ALSO CLEAN A FULL PREMISES.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Feature End -->
{% endblock content %}